asyncio
fastapi
uvicorn
groq
streamlit
requests
langchain
langchain-community
langchain-core
langchain-groq
langchain-nomic
faiss-cpu
unstructured
pytube
yt-dlp
python-dotenv
python-docx
pypdf
